services:
  database:
    image: postgres:15
    container_name: database
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: saas
      POSTGRES_USER: saas
      POSTGRES_PASSWORD: saas
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    container_name: backend
    build:
      context: ./backend
    ports:
      - "5000:5000"
    depends_on:
      database:
        condition: service_started
    environment:
      DATABASE_URL: postgresql://saas:saas@database:5432/saas
      JWT_SECRET: supersecret
      PORT: 5000

  frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    environment:
      VITE_API_URL: http://backend:5000
    depends_on:
      backend:
        condition: service_started

volumes:
  db_data:
